
/*載入*/
@-moz-keyframes flower-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: white 0 0 15px 0, #FFEB9E -12px -12px 0 4px,
      #FFEB9E 12px -12px 0 4px, #FFEB9E 12px 12px 0 4px, #FFEB9E -12px 12px 0 4px;
    box-shadow: white 0 0 15px 0, #FFEB9E -12px -12px 0 4px, #FFEB9E 12px -12px 0 4px,
      #FFEB9E 12px 12px 0 4px, #FFEB9E -12px 12px 0 4px;
  }
  50% {
    -moz-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -moz-box-shadow: white 0 0 15px 0, #FFEB9E 12px 12px 0 4px,
      #FFEB9E -12px 12px 0 4px, #FFEB9E -12px -12px 0 4px, #FFEB9E 12px -12px 0 4px;
    box-shadow: white 0 0 15px 0, #FFEB9E 12px 12px 0 4px, #FFEB9E -12px 12px 0 4px,
      #FFEB9E -12px -12px 0 4px, #FFEB9E 12px -12px 0 4px;
  }
}
@-webkit-keyframes flower-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-box-shadow: white 0 0 15px 0, #FFEB9E -12px -12px 0 4px,
      #FFEB9E 12px -12px 0 4px, #FFEB9E 12px 12px 0 4px, #FFEB9E -12px 12px 0 4px;
    box-shadow: white 0 0 15px 0, #FFEB9E -12px -12px 0 4px, #FFEB9E 12px -12px 0 4px,
      #FFEB9E 12px 12px 0 4px, #FFEB9E -12px 12px 0 4px;
  }
  50% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -webkit-box-shadow: white 0 0 15px 0, #FFEB9E 12px 12px 0 4px,
      #FFEB9E -12px 12px 0 4px, #FFEB9E -12px -12px 0 4px, #FFEB9E 12px -12px 0 4px;
    box-shadow: white 0 0 15px 0, #FFEB9E 12px 12px 0 4px, #FFEB9E -12px 12px 0 4px,
      #FFEB9E -12px -12px 0 4px, #FFEB9E 12px -12px 0 4px;
  }
}
@keyframes flower-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: white 0 0 15px 0, #FFEB9E -12px -12px 0 4px,
      #FFEB9E 12px -12px 0 4px, #FFEB9E 12px 12px 0 4px, #FFEB9E -12px 12px 0 4px;
    -webkit-box-shadow: white 0 0 15px 0, #FFEB9E -12px -12px 0 4px,
      #FFEB9E 12px -12px 0 4px, #FFEB9E 12px 12px 0 4px, #FFEB9E -12px 12px 0 4px;
    box-shadow: white 0 0 15px 0, #FFEB9E -12px -12px 0 4px, #FFEB9E 12px -12px 0 4px,
      #FFEB9E 12px 12px 0 4px, #FFEB9E -12px 12px 0 4px;
  }
  50% {
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -moz-box-shadow: white 0 0 15px 0, #FFEB9E 12px 12px 0 4px,
      #FFEB9E -12px 12px 0 4px, #FFEB9E -12px -12px 0 4px, #FFEB9E 12px -12px 0 4px;
    -webkit-box-shadow: white 0 0 15px 0, #FFEB9E 12px 12px 0 4px,
      #FFEB9E -12px 12px 0 4px, #FFEB9E -12px -12px 0 4px, #FFEB9E 12px -12px 0 4px;
    box-shadow: white 0 0 15px 0, #FFEB9E 12px 12px 0 4px, #FFEB9E -12px 12px 0 4px,
      #FFEB9E -12px -12px 0 4px, #FFEB9E 12px -12px 0 4px;
  }
}
/* :not(:required) hides this rule from IE9 and below */
.flower-loader:not(:required) {
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #F4BD96;
  border-radius: 100%;
  -moz-box-shadow: white 0 0 15px 0, #FFEB9E -12px -12px 0 4px,
    #FFEB9E 12px -12px 0 4px, #FFEB9E 12px 12px 0 4px, #FFEB9E -12px 12px 0 4px;
  -webkit-box-shadow: white 0 0 15px 0, #FFEB9E -12px -12px 0 4px,
    #FFEB9E 12px -12px 0 4px, #FFEB9E 12px 12px 0 4px, #FFEB9E -12px 12px 0 4px;
  box-shadow: white 0 0 15px 0, #FFEB9E -12px -12px 0 4px, #FFEB9E 12px -12px 0 4px,
    #FFEB9E 12px 12px 0 4px, #FFEB9E -12px 12px 0 4px;
  -moz-animation: flower-loader 5s infinite ease-in-out;
  -webkit-animation: flower-loader 5s infinite ease-in-out;
  animation: flower-loader 5s infinite ease-in-out;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.loading{
  position: absolute;
  width: 800px;
  height: 800px;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}
.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:radial-gradient(circle closest-side at center,#ABD189,#81B17A);
  z-index: 9999;
}

/*卡片*/
.card-body {
  text-align: center;
}

* {
  /*border: solid 1px red;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14pt;
  font-family: "GENSENROUNDED-B";
}

.container {
  padding-top: 70px;
}

.banner img {
  padding-top: 86px;
  width: 100%;
  height: 50%;
}

body {
  background-color: white;
  font-family: "GENSENROUNDED-B", sans-serif;
  font-size: 14pt;
  background-image: url("../src/bg.jpg");
  background-size: cover;
}

section {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: #222;
  
  border-radius: 10px;
}

section#s1 {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}
section#s2 {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}
section#s3 {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}
section.full{
padding-top: 180px;
}
section#s4 {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}
section#s5 {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}
section#s6 {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}
section#s7 {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}

.toTop-arrow {
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 33%;
  opacity: 0.6;
  background: rgb(255, 255, 255);
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
}
.toTop-arrow::before,
.toTop-arrow::after {
  width: 21px;
  height: 8px;
  border-radius: 3px;
  background: #ABD189;
  position: absolute;
  content: "";
}
.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 0.8rem;
}
.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 0.8rem;
}
.toTop-arrow:focus {
  outline: none;
}

/* Style the navigation bar */
.navbar {
  background-image: url("../src/nav.jpg");
  box-shadow: 0.5px 0.5px 5px;
}

.navbar-nav{
  margin-left: 200px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #81B17A;
  box-shadow: 0.5px 0.5px 2px;
  border-radius: 10px;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.imageBox:hover .hoverImg {
  display: block;
}


/*時間軸*/
/* 線 */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* 線 */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #FFF;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

/* 內容 */
.container {
  padding: 10px 30px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* 圓形 */
.container::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  right: -9px;
  background-color: #335577;
  border: 2px solid #FFF;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

/* 位置左 */
.left {
  left: -24.5%;
}

/* 位置右 */
.right {
  left: 24.5%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -9px;
}

/* The actual content */
.content {
  padding: 20px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 17px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 50px;
  padding-right: 20px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    top: 20px;
    left: 35px;
    border-width: 10px 15px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left:2px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
  .left {
    left: 0%;
    }
}




.to-top:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-top: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(-45deg) translate(-70%, 0);
  top: 20%;
  left: 50%;
  animation: toTop 2s infinite ease-in;
}

@keyframes toTop {
  0%, 30% {
    top: 20%;
    opacity: 1;
  }
  80% {
    top: 5%;
    opacity: 0.3;
  }
  90%, 100% {
    top: 0%;
    opacity: 0;
  }
}