@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");

#loading {
  font-size: 20pt;
  z-index: 1;
  padding: 10px 10px 5px;
  background: rgb(146, 168, 209);
  color: #fff;
  position: fixed;
  width: 100%;
  height: 70px;
  text-align: center;
  box-shadow: 2px 2px 10px;
  border-radius: 5px;
}

* {
  /*border: solid 1px red;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12pt;
}

.container {
  padding-top: 70px;
}

body {
  background-color: white;
  font-family: "微軟正黑體", sans-serif;
  font-size: 12pt;
}

section {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  color: #222;
  font-weight: 600;
  border-radius: 10px;
}

section#s1 {
  background-color: rgba(255, 255, 255, 0.3);
}
section#s2 {
  background-color: rgba(255, 255, 255, 0.3);
}
section#s3 {
  background-color: rgba(255, 255, 255, 0.3);
  padding-bottom: 200px;
}
section#s4 {
  background-color: rgba(255, 255, 255, 0.3);
}
section#s5 {
  background-color: rgba(255, 255, 255, 0.3);
}
section#s6 {
  background-color: rgba(255, 255, 255, 0.3);
}
.toTop-arrow {
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 33%;
  opacity: 0.6;
  background: #000;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
}
.toTop-arrow::before,
.toTop-arrow::after {
  width: 21px;
  height: 8px;
  border-radius: 3px;
  background: #00db00;
  position: absolute;
  content: "";
}
.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 0.7rem;
}
.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 0.7rem;
}
.toTop-arrow:focus {
  outline: none;
}

/* Style the navigation bar */
.navbar {
  background-color: #123456;
  box-shadow: 0.5px 0.5px 5px;
}
/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #feffa3;
  font-weight: 600;
  box-shadow: 0.5px 0.5px 2px;
  border-radius: 10px;
}

/*更多資訊按鈕*/